/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .sticky-detail {
    height: 500px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sticky-detail {
    top: 210;
    height: 700px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sticky-detail {
    top: 210;
    height: 700px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sticky-detail {
    top: 110;
    height: 700px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sticky-detail {
      top: 110;
      height: 800px;
    }
  }
  
